*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
header{
    height: 4rem;
    display: flex;
    align-items: end;
    justify-content: space-around;
    background-color: rgb(12, 15, 36);
}
header div{
    width: 10%;
}
header div img{
    width: 100%;
}
header nav{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.8rem;
}
header nav a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
header nav a:hover{
    border-bottom: 2px solid white;
    transition: all 0.2s ease;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-image: url(fondo_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home_1{
    width: 60%;
    margin-right: 3rem;
}
.home_1 h1{
    color: white;
    font-size: 6.5rem;
}
.home_1 h1 b{
    color: rgb(255, 255, 0);
}
.home_1 p{
    width: 90%;
    color: white;
    font-size: 1.5rem;
}
.home_2{
    overflow: hidden;
    width: 20%;
}
.home_2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    animation:  cambio 20s infinite alternate linear;
    width: 400%;
}
.home_2 li{
    width: 100%;
    list-style: none;
}
.home_2 img{
    width: 100%;
    height: 100%;
}
@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}    
}
.product{
    background-color: rgb(12, 15, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.product h2{
    font-size: 3rem;
    margin: 3rem 0;
    color: white;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.card{
    margin-bottom: 3rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background: linear-gradient(to top left, #ecde81,rgb(12, 15, 36));
}
.card_1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    color: white;
}
.card_11{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}
.card_11 p{
    width: 3rem;
}
.card_11 img{
    width: 3rem;
}
.card_12 h3{
    margin: 1rem 0;
}
.card_13{
    width: 75%;
}
.card_13 img{
    width: 100%;
}
.card_2{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 8px 8px;
}
.card_2 button{
    margin: 2rem 0;
    border-radius: 12px;
    border: rgb(12, 15, 36) solid 3px;
    padding: 0.5rem 3rem;
    font-size: larger;
    color: white;
    background-color: rgb(12, 15, 36);
    cursor: pointer;
}
.card_2 button:hover{
    box-shadow: 0 0 10px rgb(12, 15, 36);
    padding: 0.6rem 3.2rem;
    transition: all 0.5s ease;
}
.contact{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
.contact h2{
    color: rgb(12, 15, 36);
    font-size: 3rem;
    margin: 6rem 0 0 0;
}
.contact form{
    width: 40%;
    margin: 3rem 0;
}
.form_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form_2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.form_1 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 47%;
    margin-bottom: 2rem;
}
.input_1{
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 5vh;
    margin: 0.5rem 0;
    padding-left: 0.5rem;
    transition: all 1s ease;
    border: solid rgb(12, 15, 36) 1px;
}
.form_2 div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.input_2{
    width: 100%;
    border: none;
    border-radius: 8px;
    height: 5vh;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    padding-left: 0.5rem;
    border: solid rgb(12, 15, 36) 1px;
}
.input_3{
    width: 100%;
    padding: 0.5rem 0 20vh 0.5rem;
    border: none;
    border-radius: 8px;
    margin-top: 0.5rem;
    border: solid rgb(12, 15, 36) 1px;
}
input:hover{
    color: rgb(255, 255, 255) !important;
    box-shadow: 0 0 10px #ecde81;
    transition: all 0.2s ease;
}
.contact button{
    padding: 0.8rem 5rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    border: none;
    background-color: rgb(12, 15, 36);
    cursor: pointer;
}
.contact button:hover{
    padding: 1rem 6rem;
    box-shadow: 0 0 10px #ecde81;
    transition: all 0.5s ease;
}
footer{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top left, #ecde83,rgb(12, 15, 36));
}
footer div{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer div img{
    width: 3rem;
    cursor: pointer;
}
.about-us{
    background-color: rgb(12, 15, 36);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about-us_1{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
    margin-top: 6rem;
}
.about-us_11{
    width: 30%;
}
.about-us_11 h2{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.about-us_11 p{
    color: #ecde83;
}
.about-us_12{
    width: 60%;
}
.about-us_12 p{
    margin-top: 0.8rem;
    line-height: 1.2rem;
}
.about-us_2{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}
.about-us p{
    margin-top: 0.2rem;
}
.about-us img{
    width: 100%;
    opacity: 0.5;
}
.about-us img:hover{
    transform: scale(1.2);
    transition: all ease 1s;
}
.about-us_21{
    width: 70%;
}
.teamwork{
    width: 93%;
    overflow: hidden;
    position: relative;
}
.teamwork div{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.about-us_22{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.philosophy{
    width: 100%;
    overflow: hidden;
    position: relative;
}
.philosophy div{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.office{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 12%;
}
.office div{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}
.about-us_3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 6rem 0;
}
.about-us_3 div{
    width: 24%;
}
.about-us_3 div p{
    line-height: 1.5rem;
}
.about-us_3 div h3{
    margin-bottom: 2rem;
    font-size: 1.8rem;
}
@media screen and (max-width: 1000px) {
    header nav{
        width: 50%;;
        margin-bottom: 0.8rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 40%;
    }
    header div{
        width: 15%;
    }
    .about-us_11 h2{
        font-size: 2rem;
    }
    .contact form{
        width: 60%;   
    }
}
@media screen and (max-width: 775px){
    header nav{
        width: 70%;;
        margin-bottom: 0.8rem;
    }
    header nav a{
        font-size: 10px;
    }
    .home h1{
        font-size: 3rem;
    }
    .home p{
        font-size: 0.8rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card{
        width: 70%;
    }
    header div{
        width: 23%;
    }
    .product h2{
        font-size: 2rem;
    }
    .about-us_11 h2{
        font-size: 2rem;
    }
    .about-us_12 p{
        font-size: 0.6rem;
    }
    .about-us_11 p{
        font-size: 0.6rem;
    }
    .contact form{
        width: 90%;   
    }
    .about-us_2 p,h4{
        font-size: 6px;
    }
    .about-us_3{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
    .about-us_3 div{
        margin-top: 2rem;
        width: 90%;
    }
    .about-us_3 div h3{
        margin-bottom: 1rem;
    }
}